appdirs==1.4.3
click==6.7
Flask==0.12
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
PySocks==1.6.7
pytz==2017.2
setuptools==34.3.3
six==1.10.0
twilio==5.7.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
Werkzeug==0.12.1
